<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Converter - mentions légales</title> 
        <link rel="shortcut icon" type="image/png" href="../assets/favicon.png">
        <link rel="stylesheet" href="../assets/CSS/layout.css">
        <link rel="stylesheet" href="../assets/CSS/mentions/mentions.css">
        <link href="../assets/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar bg-primary fixed-top">
                <div class="container-fluid d-flex justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="border-color:white;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="../index.html">Convertisseur monnaies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/view/mentions.html">mentions légales</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h1 class="card-title">
                        Mentions légales
                    </h1>
                </div>
            </div>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h2 class="card-title">
                        L'application
                    </h2>
                    <p class="card-text">
                        Cette application est le produit d'un projet dans le cadre d'un exercice, d'un entraînement.<br>
                        Elle n'a pas fonction à être un produit commercialisé ni à produire quelcquonque chiffre.<br>
                        De ce fait aucune responsabilités ne peut être demandées pour quoique ce soit envers le développeur ayant produit cette application.
                    </p>
                    <p>
                        Il s'agit d'une application 100% front et donc sans serveur ni de fonctionnalités de stockage de données. 
                        Il n'y a également aucun cookies présent dans l'application. 
                    </p>
                    <p>
                        L'idée était donc de pouvoir s'entrainer à maîtriser certaines technologies web et tout de même être utile pour ceux qui le souhaitent.
                        Grâce à cette application vous pouvez utiliser un convertisseur de devises (toutes les devises du monde sont accessibles) et vous pouvez 
                        également afficher et comparer l'évolution du taux de change en fonction d'une devise de base d'une ou plusieurs autres devises. 
                    </p>
                </div>
            </div>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h2 class="card-title">
                        Hébergement
                    </h2>
                    <p class="card-title">
                        Cette application est hébergée chez <a href="https://www.netlify.com/">Netlify.</a>
                    </p>
                </div>
            </div>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h2 class="card-title">
                        Développeur
                    </h2>
                    <p class="card-title">
                        Voici quelques liens permettant de voir les projets du développeur ou son travail actuel.
                        <div>
                            <a href="https://www.github.com/AlexisCro" target="_blank"><img src="../assets/CSS/mentions/logo-github.png" alt="logo github"></a>
                            <a href="https://www.linkedin.com/in/crozier-alexis-5b164b106/" target="_blank"><img src="../assets/CSS/mentions/logo-linkedin.png" alt="logo linkedin"></a>
                        </div>
                    </p>
                </div>
            </div>
        </main>
        <script src="../assets/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
    </body>
</html>
